<template>
  <div id="createReportPost">
  <div class="modal fade" id="report-post-modal" tabindex="-1" role="dialog" aria-labelledby="report-post-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <input type="hidden" v-model="postId" id="reportPostId" />
                <h5 class="modal-title" id="report-post-modal-label">Report Post</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="content" class="col-form-label">Reason:</label>
                        <textarea class="form-control" id="content" v-model="message"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tags" class="col-form-label">Name:</label>
                        <input v-model="reporter" type="text" class="form-control" id="reporter">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" v-on:click="sendReport">Report</button>
            </div>
        </div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import UUID from 'vue-uuid'

Vue.use(UUID)

export default {

  name: 'CreateReportPost',
  data () {
    return {
      message: '',
      reporter: '',
      postId: ''
    }
  },
  created () {
    let self = this
    this.$on('set-post-id', function (postId) {
      self.postId = postId
    })
  },
  methods: {
    sendReport: function (event) {
      axios.post(`/api/posts/${this.postId}/reports`, {
        message: this.message,
        reporter: this.reporter,
        reportedDate: new Date().toISOString()
      })
      .then((response) => {
        // let post = response.data

        if (!this.hashtags) {
          window.location = '/'
        }

        // async.each(this.hashtags.split(' '),
        //    (hashtag, callback) => {
        //      axios.get(`/api/hashtags?filter={"where": {"name": "${hashtag}" }}`)
        //       .then((response) => {
        //         if (response.data.length > 0) {
        //           axios.put(`/api/posts/${post.id}/hashtags/rel/${response.data[0].id}`)
        //             .then((response) => {
        //               callback()
        //             })
        //         } else {
        //           axios.post(`/api/posts/${post.id}/hashtags`, {name: hashtag})
        //             .then((response) => {
        //               callback()
        //             })
        //         }
        //       })
        //    },
        //   (err, result) => {
        //     console.log(err)
        //     window.location = '/'
        //   })
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  },
  setPostId (postId) {
    this.postId = postId
  }

}
</script>