<template>
  <div id="app">
    <ul class="nav nav-pills justify-content-end py-2 mb-4 bg-info">
        <li class="nav-item">
            <a class="nav-link text-white" href="/">The Wall</a>
            <!-- <a class="nav-link text-white" href="#">Logout</a> -->
        </li>
    </ul>
    <div class="container-fluid">


      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: 'app'
}
</script>

<style>
/* #app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
} */
</style>
