<template>
  <div id="createPost">
  <div class="modal fade" id="create-post-modal" tabindex="-1" role="dialog" aria-labelledby="create-post-modal-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="create-post-modal-label">New Post</h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="content" class="col-form-label">Content:</label>
                        <textarea class="form-control" id="content" v-model="entry"></textarea>
                    </div>

                    <div class="form-group">
                        <label for="tags" class="col-form-label">Tags:</label>
                        <input v-model="hashtags" type="text" class="form-control" id="tags" placeholder="separate tags by using spaces">
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" v-on:click="sendEntry">Save</button>
            </div>
        </div>
    </div>
  </div>
  </div>
</template>

<script>
import axios from 'axios'
import Vue from 'vue'
import UUID from 'vue-uuid'
import async from 'async'

Vue.use(UUID)

export default {

  name: 'Create',
  data () {
    return {
      entry: '',
      postedBy: 'J.D. Cruz',
      hashtags: ''
    }
  },
  methods: {
    sendEntry: function (event) {
      axios.post('/api/posts', {
        entry: this.entry,
        postedBy: this.postedBy,
        postId: this.$uuid(),
        createdDate: new Date().toISOString()
      })
      .then((response) => {
        let post = response.data

        if (!this.hashtags) {
          window.location = '/'
        }

        async.each(this.hashtags.split(' '),
           (hashtag, callback) => {
             axios.get(`/api/hashtags?filter={"where": {"name": "${hashtag}" }}`)
              .then((response) => {
                if (response.data.length > 0) {
                  axios.put(`/api/posts/${post.id}/hashtags/rel/${response.data[0].id}`)
                    .then((response) => {
                      callback()
                    })
                } else {
                  axios.post(`/api/posts/${post.id}/hashtags`, {name: hashtag})
                    .then((response) => {
                      callback()
                    })
                }
              })
           },
          (err, result) => {
            console.log(err)
            window.location = '/'
          })
      })
      .catch(function (error) {
        console.log(error)
      })
    }
  }
}
</script>