<template>
  <div class='form'>
    <form method="PUT" action="post" v-on:submit.prevent>
      <label>Edit Post</label>
      <input type="text" name="post" v-model="post.postedBy" disabled/>
      {{post.postedBy}}
      <textarea v-model="post.entry" placeholder="add multiple lines"></textarea>
      <p style="white-space: pre-line;">{{ post.entry }}</p>
      <button v-on:click="patchEntry">Submit</button>
    </form>
  </div>
</template>

<script>
import axios from 'axios'

export default {
  name: 'Edit',
  data () {
    return {
      post: {}
    }
  },
  created () {
    console.log('1')
    axios.get(`/api/posts/${this.$route.params.id}`)
      .then(response => {
        console.log(response)
        // JSON responses are automatically parsed.
        this.post = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  methods: {
    patchEntry: function (event) {
      axios.patch(`/api/posts/${this.$route.params.id}`, {
        entry: this.post.entry
      })
        .then(response => {
          window.location = `/#/post/view/${response.data.id}`
        })
        .catch(e => {
          console.log(e)
          // this.errors.push(e)
        })
    }
  }
}
</script>
