<template>
  <div id="viewList">
    <div class="row">
      <div class="col-12">

      <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link" href="/">Latest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">{{tabName}}</a>
        </li>
      </ul>
      <!-- end nav-tabs -->

      
      <div class="card mb-3" v-for="post of posts" v-bind:key="post.id">
        <div class="card-header">
          Posted by <b>{{post.postedBy}}</b>
          <div class="btn-group float-right">
            <button type="button" class="btn btn-light btn-sm">
                <i class="fa fa-exclamation" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- end card-header -->

        <div class="card-body">
          <p v-bind:class="'card-text post_' + post.id">{{post.entry}}</p>

          <div class="post-tags" >
            <span v-for="hashtag of post.hashtags" v-bind:key="hashtag.id">
              <router-link :to="{name: 'ViewListFilter', params: {id: hashtag.id}}" >#{{hashtag.name}}</router-link>
            </span>
          </div>

          <div class="post-controls ">
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  <span class="small">23</span>
              </button>
              <button type="button" class="btn btn-danger btn-sm">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  <span class="small">4</span>    
              </button>
            </div>
          </div>
        </div>
        <!-- end card-body -->

      </div>
      <!-- end posts -->
      </div>
    </div>
    <!-- end row end col-12 -->

    <!-- Modals -->
    <create-modal />
  

  </div>
</template>

<script>
import axios from 'axios'
import CreatePost from '@/components/post/Create'
import async from 'async'

export default {
  name: 'ViewList',
  data () {
    return {
      posts: [],
      errors: [],
      tabName: 'Latest'
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData: function () {
      let self = this
      let listUrl = '/api/posts'
      let filter = this.$route.query.id
      if (filter) {
        listUrl = `/api/hashtags/${filter}/posts`
        axios.get(`/api/hashtags/${filter}`)
          .then(response => {
            self.tabName = `#${response.data.name}`
            console.log(response)
          })
      }

      return axios.get(`${listUrl}?filter[order]=createdDate DESC`)
        .then(response => {
          // map post to hashtags relationships
          async.map(response.data, (post, callback) => {
            axios.get(`/api/posts/${post.id}/hashtags`)
              .then(response => {
                post.hashtags = response.data
                callback(null, post)
              })
              .catch(e => {
                this.errors.push(e)
                callback(null, post)
              })
          },
          (err, results) => {
            if (err) {
              console.log(err)
            }
            self.posts = results
          })
        })
        .catch(e => {
          console.log('may error')
          console.log(e)
          this.errors.push(e)
        })
    }
  },
  components: {
    'create-modal': CreatePost
  }
}
</script>

<style>
.post-controls {
    padding-top: .75rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.post-tags {
    margin-bottom: .5rem;
}

.post-tags a{
    margin-right: .3rem;
}
</style>

