<template>
  <div id="viewList">
    <div class="row mb-4">
      <div class="col-8">
          <h4>Hello, Juan Dela Cruz</h4>
      </div>
      <div class="col-4">
        <div class="btn-group mb-3 float-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-post-modal">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <span class="small">New Post</span>
            </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-3">
          <div class="list-group">
              <div class="list-group-item  list-group-item-secondary"><h6>Events</h6></div>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">Town Hall</h6>
                      <small>November 22, 2017</small>
                  </div>
                  <p class="mb-1">Concise information about the event goes here. Yep, few important words.</p>
                  <small>3 more days.</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">Annual Physical Exam</h6>
                      <small class="text-muted">November 28, 2017</small>
                  </div>
                  <p class="mb-1">Be early since a lot of tests will be done on this day.</p>
                  <small class="text-muted">5 more days</small>
              </a>
              <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                  <div class="d-flex w-100 justify-content-between">
                      <h6 class="mb-1">Christmas Party 2017!</h6>
                      <small class="text-muted">December 2, 2017</small>
                  </div>
                  <p class="mb-1">Dress up your denim and join us on our year end Christmas Party!</p>
                  <small class="text-muted">8 more days.</small>
              </a>
              <div class="list-group-item">
                  <p class="text-center" style="margin: 0;">
                      <a  href="#">See all upcoming events</a>
                  </p>
              </div>
          </div>
      </div> 
      <div class="col-9">

      <ul class="nav nav-tabs mb-3" v-if="tabName == 'Latest'">
        <li class="nav-item">
            <a class="nav-link active" href="#">{{tabName}}</a>
        </li>
      </ul>
      <ul class="nav nav-tabs mb-3" v-else>
        <li class="nav-item">
            <a class="nav-link" href="/">Latest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="#">{{tabName}}</a>
        </li>
      </ul>
      <!-- end nav-tabs -->

      <div class="card mb-3" v-for="post of posts" v-bind:key="post.id">
        <div class="card-header">
          Posted by <b>{{post.postedBy}}</b>
          <div class="btn-group float-right">
            <button type="button" class="btn btn-light btn-sm" data-toggle="modal" data-target="#report-post-modal" v-bind:data-post-id="post.id" v-on:click="updateReportId(post.id)">
                <i class="fa fa-exclamation" aria-hidden="true"></i>
            </button>
          </div>
        </div>
        <!-- end card-header -->

        <div class="card-body">
          <p v-bind:class="'card-text post_' + post.id">{{post.entry}}</p>

          <div class="post-tags" >
            <span v-for="hashtag of post.hashtags" v-bind:key="hashtag.id">
              <router-link :to="{path: '/post/view/list', query: {filter: hashtag.id}}" v-bind:id="'hashtag_' + hashtag.id">#{{hashtag.name}}</router-link>
            </span>
          </div>

          <div class="post-controls ">
            <div class="btn-group">
              <button type="button" class="btn btn-success btn-sm">
                  <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                  <span class="small">{{post.upvote || 0}}</span>
              </button>
              <button type="button" class="btn btn-danger btn-sm">
                  <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                  <span class="small">{{post.downvote || 0}}</span>
              </button>
            </div>
          </div>
        </div>
        <!-- end card-body -->

      </div>
      <!-- end posts -->
      </div>
    </div>
    <!-- end row end col-12 -->

    <!-- Modals -->
    <create-modal />
    <report-post-modal ref="reportPostModal" />

  </div>
</template>

<script>
import axios from 'axios'
import CreatePost from '@/components/post/Create'
import ReportPost from '@/components/report/Create'
import async from 'async'
import _ from 'lodash'

export default {
  name: 'ViewList',
  data () {
    return {
      posts: [],
      errors: [],
      tabName: 'Latest'
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData: function (filterId) {
      let self = this
      let listUrl = '/api/posts'
      let filter = _.get(this, '$route.query.filter') || filterId

      if (filter) {
        listUrl = `/api/hashtags/${filter}/posts`
        axios.get(`/api/hashtags/${filter}`)
          .then(response => {
            self.tabName = `#${response.data.name}`
          })
      }

      return axios.get(`${listUrl}?filter[order]=createdDate DESC&filter[limit]=10`)
        .then(response => {
          // map post to hashtags relationships
          async.map(response.data, (post, callback) => {
            axios.get(`/api/posts/${post.id}/hashtags`)
              .then(response => {
                post.hashtags = response.data
                callback(null, post)
              })
              .catch(e => {
                this.errors.push(e)
                callback(null, post)
              })
          },
          (err, results) => {
            if (err) {
              console.log(err)
            }
            self.posts = results
          })
        })
        .catch(e => {
          console.log('may error')
          console.log(e)
          this.errors.push(e)
        })
    },
    updateReportId (postId) {
      console.log(this.$refs)
      this.$refs.reportPostModal.$emit('set-post-id', postId)
    }
  },
  watch: {
    '$route.query.filter' (newId, oldId) {
      this.getData(newId)
    }
  },
  components: {
    'create-modal': CreatePost,
    'report-post-modal': ReportPost
  }
}
</script>

<style>
.post-controls {
    padding-top: .75rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.post-tags {
    margin-bottom: .5rem;
}

.post-tags a{
    margin-right: .3rem;
}
</style>

