<template>
  <div>
    {{post.entry}} <br />
    {{post.postedBy}} <br />
    {{post.createdDate}}
    <button v-on:click="editEntry">Edit</button>
    <button v-on:click="deleteEntry">Delete</button>
  </div>
</template>

<<script>
import axios from 'axios'
export default {
  name: 'View',
  data () {
    return {
      post: {}
    }
  },
  created () {
    axios.get(`/api/posts/${this.$route.params.id}`)
      .then(response => {
        // JSON responses are automatically parsed.
        this.post = response.data
      })
      .catch(e => {
        this.errors.push(e)
      })
  },
  methods: {
    editEntry: function (event) {
      window.location = `/#/post/edit/${this.$route.params.id}`
    },
    deleteEntry: function (event) {
      var sure = confirm('Sure ka idedelete mo?')
      if (sure) {
        axios.delete(`/api/posts/${this.$route.params.id}`)
          .then(response => {
            // JSON responses are automatically parsed.
            window.location = `/#/post/view/list`
          })
          .catch(e => {
            this.errors.push(e)
          })
      }
    }
  }
}
</script>
