<template>
  <div id="viewBigScreen">
    <div class="card-columns" >
      <div class="card" v-for="post of posts" v-bind:key="post.id">
          <div class="card-body">
              <p class="card-text">{{post.entry}}</p>
              <p class="card-text"><small class="text-muted">Posted by {{post.postedBy}}</small></p>
          </div>
      </div>
    </div>

  </div>
</template>

<script>
import axios from 'axios'
import CreatePost from '@/components/post/Create'
import ReportPost from '@/components/report/Create'
// import async from 'async'
// import _ from 'lodash'

export default {
  name: 'ViewListBigScreen',
  data () {
    return {
      posts: [],
      errors: [],
      tabName: 'Latest'
    }
  },
  created () {
    this.getData()
  },
  methods: {
    getData: function (filterId) {
      let self = this
      let listUrl = '/api/posts'
      // let filter = _.get(this, '$route.query.filter') || filterId

      // if (filter) {
      //   listUrl = `/api/hashtags/${filter}/posts`
      //   axios.get(`/api/hashtags/${filter}`)
      //     .then(response => {
      //       self.tabName = `#${response.data.name}`
      //     })
      // }

      return axios.get(`${listUrl}?filter[order]=createdDate DESC`)
        .then(response => {
          // map post to hashtags relationships
          // async.map(response.data, (post, callback) => {
          //   axios.get(`/api/posts/${post.id}/hashtags`)
          //     .then(response => {
          //       post.hashtags = response.data
          //       callback(null, post)
          //     })
          //     .catch(e => {
          //       this.errors.push(e)
          //       callback(null, post)
          //     })
          // },
          // (err, results) => {
          //   if (err) {
          //     console.log(err)
          //   }
          //   self.posts = results
          // })

          self.posts = response.data
        })
        .catch(e => {
          console.log('may error')
          console.log(e)
          this.errors.push(e)
        })
    },
    updateReportId (postId) {
      console.log(this.$refs)
      this.$refs.reportPostModal.$emit('set-post-id', postId)
    }
  },
  watch: {
    '$route.query.filter' (newId, oldId) {
      this.getData(newId)
    }
  },
  components: {
    'create-modal': CreatePost,
    'report-post-modal': ReportPost
  }
}
</script>

<style>
.post-controls {
    padding-top: .75rem;
    border-top: 1px solid rgba(0,0,0,.125);
}

.post-tags {
    margin-bottom: .5rem;
}

.post-tags a{
    margin-right: .3rem;
}
</style>

